/* GRID TEMPLATE */
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: "header header header"
                       "main main aside"
                       "footer footer footer"
  }

/* GRID ELEMENTS */
header {
  border: 3px solid limegreen;
  border-top: black;
  border-right: black;
  border-left: black;
  grid-column: 1 / span 3;
  grid-row: 1;
  padding: 30px;
}
main {
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: center;
}
aside {
  grid-column: 3;
  grid-row: 2;
  text-align: top;
}
footer {
  border: 3px solid limegreen;
  border-right: black;
  border-left: black;
  border-bottom: black;
  grid-column: 1 / span 3;
  grid-row: 3;
  text-align: center;
}
body {
  margin: 0;
}
header,
main,
aside,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 30px;

}
/* IMAGES AND VIDS */

.header-img {
  width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 15px;
}
 /*NAV BAR */

nav {
  position: fixed;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  background-color: black;
}
nav li {
  display: inline;
  width: 60px;
  margin: 50px;
}

a {
  color: limegreen;
  font-family: impact;
}

/* MAIN SECTION */

h1 {
  text-align: center;
  font-family: impact, sans-serif;
  font-style: italic;
  font-size: 50px;
  color: white;
  }
h2 {
  text align: center;
  color: limegreen;
  font-size: 25px;
}
h5 {
  color: limegreen;
}
@media only screen and (max-width: 480px) {
  nav {
  display: none;
}
  .header-img {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
}
